
*{
    padding: 0;
    margin: 0;

}
:root {
    font-size: 0.8vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --primary-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  /* span.price {
    float: right;
    color: grey;
  } */

  .btn {
    cursor: pointer;

    background-color: var(--primary-color-2);
    padding: 0.8em 2em;
    border-radius: 0.5em;
    color: purple;

    border:none;
    outline: none;
    margin: 1em 0;
    width: 10em;
    text-align: center;
}
.earwipes{
    width: 65%;
    float: left;
    border: 1px solid blue;
    margin: 20px;
    

}

.cart{
    width: 25%;
    float: right;
    border: 1px solid red;
    margin: 20px;
}

.section1{
    width: 100%;
}
.section2{
    width: 70%;
    clear:both;
    height: fit-content;
    
}

.product_description{
    width: 55%;
    float: left;
    margin: 20px;
    border: 1px solid blue;

}
.product_description h1{
    margin: 20px;
    width: max-content;
}

.specifications {
    width: 20%;
    /* position: relative; */
    /* left: 250vh; */
    top: -40vh;
    text-align: left;
    margin: 20px;
    padding: 2%;
    border: 1px solid red;
    text-align: left;
    padding: 2%;
    float: right;
}

.section3{
    margin-top: 25vh;
    position: relative;
}

.section3_images{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 30px;
    height: 500px;
    
}

.section3 h2{
    position: relative;
    font-size: 200%;
    clear: both;

}

.btn{
    padding: 2px;
    background-color: #F6DAE4;
    
}
.view_more_height{
    position: relative;
    
}
.most_recently{
    display: flex;
    flex-direction: row;
    width: 100%;
}
h2{
    font-size: 35px;
    line-height: 42.36px;

}

.same_width{
    padding: 2%;
    margin-top: 2vh;
    height: auto;
    display: flex;
    flex-direction: column;
}

.most_recently{
    margin-top: 10vh;
}



.spacebar{
    width: 50px;
    color: #B8CFEC;
    height: auto;
    background-color: #B8CFEC;
    margin: 20px;
}