:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --primary-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --primary-color: #bbcfec;
    --primary-color-2: #f6dae4;

    --dark: rgba(0, 0, 0, 0.95);
    --light: rgba(255, 255, 255, 0.95);
    --font-weight-small: 200;
    --font-weight-median: 600;
    --font-weight-heavy: 900;
    --font-size-small: 10px;
    --font-size-median: 12px;
    --font-size-large: 30px;
}

body {
    overflow-x: hidden;
}

/* Font size and weight  */
.font-weight-small {font-weight: var(--font-weight-small);}
.font-weight-median {font-weight: var(--font-weight-median)}
.font-weight-heavy {font-weight: var(--font-weight-heavy);}

.font-size-small {font-size: var(--font-size-small);}
.font-size-median {font-size: var(--font-size-median);}
.font-size-large {font-size: var(--font-size-large);}


/* Display properties  */
.display-none {display: none;}

.d-flex {display: flex;}
.flex-direction-row {flex-direction: row;}
.flex-direction-col {flex-direction: column;}
.flex-wrap-wrap {flex-wrap: wrap;}
.justify-content-center {justify-content: center;}
.justify-content-space-between {justify-content: space-between;}
.justify-content-space-around {justify-content: space-around;}
.justify-content-end {justify-content: flex-end;}
.align-items-center {align-items: center;}
.align-self-center {align-self: center;}
.gap-1em {gap: 1em;}

.d-grid {display: grid;}
.place-items-center {place-items: center;}


/* Width  */
.width-100pc {width: 100%;}


/* style button  */
.btn {
    background-color: var(--primary-color-2);
    padding: 0.8em 2em;
    border-radius: 0.5em;
    color: purple;

    border:none;
    outline: none;
    margin: 1em 0;
    width: 10em;
    text-align: center;
}


.navbar{
    display: flex;
    justify-content: space-around;
    background-color:#f6dae4 ;
    padding: 40px;
}

li{
    list-style-type: none;
}

.container {
    width: 90%;
    margin: auto;
}


/* STYLE ELEMENTS IN THE SECTION 1 OF THE HOMEPAGE  */

.main-header-text {
    font-family: var(--primary-font-family);
    width: 50%;

    position: absolute;
    top: 10%;
    left: 5%;
}

.main-header-text .title {
    font-size: 5em;
}

.main-header-text .paragraph {
    font-size: 2.5em;
    margin-top: 2.5em;
}

#section-1 {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -15vh;
}

/* STYLE ELEMENTS IN THE SECTION 2 OF THE HOMEPAGE  */
.card {
    width: 20vw;
    height: 30vw;
    min-width: 12em;
    min-height: 18em;
    margin: 0.5vw;
    padding: 0.8vw;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    height: 18vw;
    width: 18vw;
    min-height: 10.8em;
    min-width: 10.8em;
}

.card p {
    text-align: left;    
    width: 100%;
}

.decoration-line {
    height: 30vw;
    width: 3vw;
    min-width: 2em;
    min-height: 18em;


    margin-right: 1.2vw;
    background-color: var(--primary-color);
}

.products h2 {
    font-size: 4em;
}

.popular-products-container {
    border-right: 0.2em solid var(--primary-color);
    border-bottom: 0.2em solid var(--primary-color);
    margin-bottom: 2vw;
}


.name-and-stars {
    width: 100%;
    padding: 0.5em 0;
}

.stars {
    font-size: 0.7em;
}

.card .btn {
    margin-bottom: 1em;
    margin-left: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
}

.card .price {
    margin-bottom: 1em;
    margin-right: 1em;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.5em;
}

#side-bar-text{
    position: relative;
    height: 50vw;
    width: 18vw;
    min-width: 16em;
    min-height: 18em;

    top: 30vh;
    margin-left: 4em;
    border-top: 0.2em solid var(--primary-color);
    border-left: 0.2em solid var(--primary-color);

}

#side-bar-text > div {
    padding-top: 3em;
    padding-left: 2em;
}

#side-bar-text h2 {
    padding-top: 2em;
}

#side-bar-text p {
    margin-top: 0.8em;
}

#side-bar-text p, #side-bar-text h2 {
    font-size: 25px;
}




/* STYLE SECTION 3  */

#section-3-main-header {
    font-size: 4em;
    margin-top: 2em;
    text-align: right;
}

#section-3 img {
    width: 40%;
}

#section-3 h2 {
    text-align: right;
}

#section-3-text {
    text-align: right;
    background-color: red;
}