*{
    font-family: sans-serif;
}
body{
    width: 90%;
    margin: auto;
}

/* STYLE FOR NAVIGATION BAR */

li{
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-around;
    background-color:#f6dae4 ;
    padding: 40px;
    font-size: large;
    font-weight: 700;
}
#logo{
    font-size:xx-large;
    font-weight: bolder;
    font-family: 'Courgette';
}

/* STYLE FOR SIDE BAR */
.puppy img{
    height: 200px;
    width: auto;
    padding: 30px;
}

.categories{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    
}
.categories img{
    height: 350px;
    width: auto;
    padding: 10px;
    padding-right: 20px;
}
#in-your-cart {
    margin-top: 4rem;
    margin-bottom:2em;
    margin-left: 4em;
    margin-right: 2em;
    height: 10vw;

    overflow: scroll;
}
/* STYLE FOR IMAGES AT THE TOP */

.images img{
    height: 150px;
    width: auto;
}
.images{
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding: 30px;
    border-right:3px solid #b8cfec;
}
.images2 img{
    width: 600px;
}
.images2{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    width: 80%;
    border-right:3px solid #b8cfec;
    border-bottom:solid #b8cfec;
}

/* STYLE FOR FOOD AND ACCESORIES SECTION */
.foods{
    display: flex;
    justify-content: space-around;   
    padding: 30px;
    width: 80%;
    border-right:3px solid #b8cfec;
    border-bottom:solid #b8cfec;
}
.foods img{
    height: 150px;
    width: auto;
}
#blue{
    background-color: #b8cfec;
    color: #b8cfec;
    height: 400px;
    width: 50px;
}
#pink{
    background-color: #f6dae4;
    color: #f6dae4;
    height: 400px;
    width: 50px;
}
.accesories{
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding: 30px;
    border-left:3px solid #b8cfec;
    border-bottom:solid #b8cfec;
}
.accesories img{
    height: 150px;
    width: auto;
    padding: 20px;
}

.btn {
    cursor: pointer;

    background-color: #f6dae4;
    padding: 0.8em 2em;
    border-radius: 0.5em;
    color: purple;

    border:none;
    outline: none;
    margin: 1em 0;
    width: 10em;
    /* text-align: center; */
}

/* STYLE FOR SPAN ELEMEMT */
.span{
    font-size: xx-large;
    font-weight: 900;
    padding: 10px;
    width: 170px;
    background-color: #b8cfec;
}

/* STYLE FOR IMAGES AT THE BOTTOM */
.other{
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding: 30px;
    border-right:3px solid #b8cfec;
}
.other2{
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding: 30px;
    border-right:3px solid #b8cfec;
    border-bottom:solid #b8cfec;
}
.other img{
    height: 150px;
    width: auto;
    padding: 20px;
}
.other2 img{
    height: 150px;
    width: auto;
    padding: 20px;
}

/* STYLE FOR ALL THE HEADINGS */
h1{
    font-weight: 900;
}
h2,h3{
    font-weight: 700;
}
p{
    font-weight: 400;
}

/* STYLE FOR FOOTER ELEMENTS */
.final{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.petpalace_f h2{
    text-decoration: none;
}

footer {
    margin-top: 100px;
    height: 300px;
    background-color: #b8cfec;
    font-family: sans-serif;
}
.center{
    text-align: center;
}
