*{
    padding: 0;
    margin: 0;
    
    
}
html{
    position: relative;
    width: 1440px;
    height: 1436px;
    background-color: #4F4F5F;
    
}
.checkout{

    background-image: url(/assets/images/cat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* mix-blend-mode: soft-light; */
    color: #FA8686;
    backdrop-filter: blur;
    font-size: 30px;
    line-height: 36px;
    height: 480px;
    width: 776px;
}
table, th, td {
    margin-top: 7%;
    position: relative;
    border-spacing: 30px;
    left: 7vh;
    align-items: center;
    left: 150px;
    margin-bottom: 2vh;
}
.container h2{
    position: relative;
    width: 1440px;
    height: 1436px;
    background: #4F4F5F;
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 500;
    font-size: 38px;
    text-align: center;
    color: #AE9CF8;
    backdrop-filter: blur(4px);
}
.price{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FA8686;
    backdrop-filter: blur(4px);
    
}
.dec_none{
    text-decoration: none;
    
}
.price .dec_none{
    color: #FA8686;
}
.payment{
    display: flex;
    justify-content: space-around;
}

.mpesa{
    height: 135px;
    width: 358px;
    background-color: #3bce5b;
    border-radius: 5%;
    position: relative;
    /* left: 5vh; */
    text-align: center;
    top: 1vh;
    border-style: outset;

}
 .mpesa h4{
    /* position: absolute; */
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    padding-top: 1%;    ;

}
.mpesa p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F80707;
    padding-top: 3%;
}
#black{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-top: 1%;
}
.pay button{
    background-color: #FA8686;
    width: 215px;
    height: 50px;
    color: rgba(0, 0, 0, 0.25);
    font-weight: 700;
    left: 48vh;
    position: relative;
    border-radius: 6%;
    font-size: 24px;
    border-color: #FA8686;
}
.paypal {
    background-color: #E5E5E5;
    position: relative;
    left: 8vh;
    border-radius: 5%;
    top: 1vh;
    border-style: outset;
    height: 135px;
    width: 450px;
    text-align: center;
    z-index: 10;
    margin-left: 348px;
}
#paypalclick{
    font-size: 12px;
    display: inline;
}
.paypal img{
    position: relative;
    margin: 15px 0px 0px 20px;
    width: 88px;
    height: 56px;
    
}
.paypal p{
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    margin: -20px 0px 0px 0px;
    color: #081955;
    /* display: inline; */
    backdrop-filter: blur(4px);
}
.paypal img {
    margin: 5px 5px 5px 5px;
    width: 88px;
    height: 56px;
    display: block;
}
#pal{
    color: #5BACE7;
}
#vector {
    position: absolute;
    width: 961px;
    height: 600px;
    left: 800px;
    top: 57vh;
    position: absolute;
    z-index: -1;
}

 footer {
    margin-top: 109px;
    background-color: #B8CFEC;
    color: black;
    font-size: 200%;
    height: 26vh;
    padding-top: 5vh;
    line-height: 1.5;
    }
